fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
firebase-admin
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
python-multipart
sqlmodel